[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
numpy = "==1.26.4"
matplotlib = "*"
pydicom = "*"
pillow = "*"
jupyter = "*"
wget = "*"
torchsummary = "*"

[dev-packages]

[requires]
python_version = "3.11"
